# === Logs === #
logs/
*.log

# === Dependency directories === #
node_modules/
client/node_modules
server/node_modules/

# === Docs ===
docs/**/*.tmp
docs/**/*.bak
docs/**/~$*
docs/**/.DS_Store
docs/**/Thumbs.db

# === Other files === #
*.bkp

# === Secret ===
config/
server/config
client/config
*.env*

# === Development files === #
.vscode/
*.git-diff
*.git-status
eslint-report.log

# === Scripts === #
scripts/

# === Co-Pilot Instructions === #
.github/copilot-instructions.md