# === Logs === #
logs/
*.log


# === Dependency directories === #
node_modules/
client/node_modules
server/node_modules/

# === Docs ===
docs/**/*.tmp
docs/**/*.bak
docs/**/~$*
docs/**/.DS_Store
docs/**/Thumbs.db

# === Other files === #
config/
server/config