.dashboard {
    @apply h-full w-[90dvw] overflow-hidden;
    @apply bg-card;
    @apply shadow shadow-black/20;
    @apply border-border/50 rounded border;
}

.dashboard .header {
    @apply p-4;
    @apply border-border/50 border-b;
    @apply flex flex-col items-center justify-center;
}

.dashboard .content {
    @apply grid grid-cols-1 lg:grid-cols-[280px_1fr];
}

.dashboard .content aside {
    @apply h-full;
    @apply border-border/50 border-r;
}

.dashboard .content .main {
    @apply flex flex-col gap-2;
}
