.error-page {
    @apply h-7/12! w-[90%]!;
}
.error-page > .content {
    /* Mobile layout + Size */
    @apply flex w-full flex-col md:h-[90%];

    /* Non-mobile layout */
    @apply place-items-center md:grid! md:grid-cols-2 md:grid-rows-2;

    /* Gaps */
    @apply gap-10 md:gap-0;
}

.error-page .content .title {
    /* Font */
    @apply font-inter font-bold;

    /* Text */
    @apply text-outline text-destructive;

    /* Location & Overflow */
    @apply col-start-2 col-end-2 row-start-1 row-end-3 overflow-hidden;

    @apply text-outline text-outline-foreground md:-translate-y-8;
}

.error-page .content .error-404-icon-logo {
    @apply relative size-[25dvh] md:col-start-1 md:col-end-1 md:row-span-2;
}

.blur-text {
    @apply col-start-2 col-end-2 row-start-1 row-end-3;
    @apply overflow-hidden md:translate-y-8;
    @apply justify-center;
    @apply text-outline text-outline-black text-secondary;
}

.blur-text > * {
    @apply text-fluid-1.25;
}

.return-home-button {
    @apply bg-primary! size-fit rounded p-2! max-sm:mt-5!;
    @apply text-fluid font-inter text-accent text-outline text-outline-foreground;
}
