.page-title {
    /* Size related */
    @apply w-full! flex-none overflow-clip max-sm:scale-75;

    /* Location related */
    @apply -mb-2.5;

    /* Text related */
    @apply text-center font-[Inter];
}

.registration-form-content {
    @apply h-80 min-h-0 grow flex-col justify-center max-md:my-[5%]! max-sm:overflow-y-auto! md:flex md:h-[90%];
}

/* Scrollbar styling */
.registration-form-content::-webkit-scrollbar {
    width: 0.5rem;
}

.registration-form-content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05); /* subtle glass effect */
    border-radius: 1rem;
}

.registration-form-content::-webkit-scrollbar-thumb {
    background-color: var(--secondary); /* teal tone */
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.registration-form-content::-webkit-scrollbar-thumb:hover {
    background: rgba(45, 212, 191, 0.8);
}

/* Firefox support */
.registration-form-content {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) rgba(255, 255, 255, 0.05);
}

[data-slot="field"] {
    @apply gap-1;
}

[data-slot="input"] {
    @apply ps-1;
}

#registration-form {
    @apply flex size-full flex-col justify-between;
}
