.gratitude-box-details {
    @apply max-h-[600px] w-[90dvw] max-w-[1200px];
    @apply absolute-center rounded border p-4;
    @apply flex flex-col items-center justify-center gap-5;
}

.gratitude-box-details h2 {
    @apply text-outline text-outline-foreground text-primary flex-0 shrink-0 text-center;
}

.gratitude-box-details .content {
    @apply min-h-[300px] max-w-[80%] flex-1 border px-2 lg:w-full;
    border-radius: calc(0.25rem + 4px); /* border-xl */
}

.gratitude-box-details .info {
    @apply max-w-[80%] lg:w-full;
    @apply flex flex-0 shrink-0 items-center justify-between;
    @apply border-t border-gray-100;
    @apply text-gray-500 select-none;
    @apply font-assistant text-xs italic;
    @apply relative -mb-3 bg-transparent;
    @apply transition-colors duration-200;

    /* Mobile/Phone mode only. */
    @apply gap-2 md:gap-0;
}

.gratitude-box-details .info .created-by {
    @apply text-fluid-0.75 w-fit px-2 py-0.5;
    @apply rounded-full italic;
    @apply hover:bg-gray-100 hover:text-gray-700;
    @apply transition-colors duration-150;
    @apply max-w-[120px] truncate;
    @apply flex items-center gap-2;

    /* Mobile/Phone mode only. */
    @apply max-sm:max-w-full;
}

.gratitude-box-details .info .created-by span {
    @apply text-fluid-0.75 pr-2 font-semibold select-none;
}

.gratitude-box-details .info .created-by .profile-picture {
    @apply size-5 rounded-full;
    @apply shrink-0 bg-gray-300;
    @apply border-border border-2 object-cover;

    border-style: groove;
}

.gratitude-box-details .info .created-at {
    @apply text-fluid-0.75 w-fit px-2 py-0.5;
    @apply text-gray-400;
    @apply whitespace-nowrap;
}

.gratitude-box-details .info .created-at span {
    @apply text-fluid-0.75 pr-2;
}

.gratitude-box-details .info .likes {
    @apply text-fluid-0.75 ml-auto flex items-center justify-center gap-1.5;
    @apply rounded-full px-3 py-1;
    @apply hover:bg-gray-400;
    @apply text-gray-600 hover:text-red-500;
    @apply transition-all duration-200;
    @apply cursor-pointer select-none;
    @apply min-w-fit whitespace-nowrap;
    @apply not-italic active:scale-95;

    /* Mobile/Phone mode only. */
    @apply max-sm:ml-0;
}

.gratitude-box-details .info .likes span {
    @apply shrink-0 px-0.5;
}

.gratitude-box-details .info .likes.liked span {
    @apply font-bold text-red-500;
}

.gratitude-box-details .info .likes svg {
    @apply shrink-0 transition-transform duration-200;
}

.gratitude-box-details .info .likes:hover svg {
    @apply scale-110 animate-bounce fill-red-500;
}

.gratitude-box-details .info .likes.liked svg {
    @apply fill-red-500 text-red-500;
}

.gratitude-box-details .comments {
    @apply text-fluid-0.9 text-outline flex-0 shrink-0 text-gray-400/20 italic;
}
