.glass-card {
    /* Card Size */
    @apply h-3/4 w-2/3 max-w-[750px];

    /* Card Coloring + Border */
    @apply border border-white/30 bg-white/20;

    /* Card Shape & Position */
    @apply rounded-2xl p-6;

    /* Card Effect */
    @apply shadow-lg backdrop-blur-md;

    /* Content Alignment */
    @apply flex flex-col items-center justify-around;
}

/* The card's light source */
.light-source {
    /* Size & Location */
    @apply absolute inset-1/4 z-[-1] size-1/2;

    /* Effects */
    @apply opacity-30 shadow-2xl blur-3xl;

    /* Coloring */
    @apply bg-white;
}

.light-source-top-left {
    inset: unset;
    @apply top-0 left-0;
}
.light-source-top-right {
    inset: unset;
    @apply top-0 right-0;
}
.light-source-bottom-left {
    inset: unset;
    @apply bottom-0 left-0;
}
.light-source-bottom-right {
    inset: unset;
    @apply right-0 bottom-0;
}
