@import "tailwindcss";
@import "tw-animate-css";

.text-outline {
    --outline-width: 1px;
    --outline-color: var(--outline-var-color);

    text-shadow:
        calc(-1 * var(--outline-width)) calc(-1 * var(--outline-width)) 0px var(--outline-color),
        var(--outline-width) calc(-1 * var(--outline-width)) 0px var(--outline-color),
        calc(-1 * var(--outline-width)) var(--outline-width) 0px var(--outline-color),
        var(--outline-width) var(--outline-width) 0px var(--outline-color);
}

@theme {
    /* Base fluid scale (everything depends on this) */
    --font-base: clamp(1rem, 1vw + 0.5rem, 1.25rem);

    /* Scales relative to the base */
    --scale-1\.25: 1.25;
    --scale-1\.5: 1.5;
    --scale-1\.75: 1.75;
    --scale-2: 2;
    --scale-2\.25: 2.25;
}

/* Headings */
h1,
.fluid-text-2\.25 {
    font-size: calc(var(--font-base) * var(--scale-2\.25));
}

.fluid-text-2\.25\! {
    font-size: calc(var(--font-base) * var(--scale-2\.25)) !important;
}
h2,
.fluid-text-2 {
    font-size: calc(var(--font-base) * var(--scale-2));
}

h3,
.fluid-text-1\.75 {
    font-size: calc(var(--font-base) * var(--scale-1\.75));
}

h4,
.fluid-text-1\.5 {
    font-size: calc(var(--font-base) * var(--scale-1\.5));
}

h5,
.fluid-text-1\.25 {
    font-size: calc(var(--font-base) * var(--scale-1\.25));
}

h6,
.fluid-text,
.fluid-text-1 {
    font-size: var(--font-base);
}

/* Body text */
p,
li,
label,
button,
input,
a,
.fluid-text-0\.9,
*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: calc(var(--font-base) * 0.9);
}

small,
.fluid-text-0_75 {
    font-size: calc(var(--font-base) * 0.75);
}

@theme {
    @layer base {
        @utility fluid-text-0_75 {
            font-size: calc(var(--font-base) * 0.75);
        }
    }
}
