.gratitude-container {
    @apply flex w-full grow flex-col items-center justify-center pt-15! pb-15! md:pt-29! md:pb-20!;
}

.gratitude-page {
    @apply h-full w-[60dvw] overflow-hidden;
    @apply bg-card;
    @apply shadow shadow-black/20;
    @apply border-border/50 rounded border;

    @apply max-sm:w-[90dvw];
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .gratitude-page {
        @apply w-[90dvw];
    }
}
.gratitude-page .header {
    @apply p-4;
    @apply border-border/50 border-b;
    @apply flex flex-col items-center justify-center;
}

.gratitude-page .content {
    @apply grid grid-cols-1 lg:grid-cols-[210px_1fr];
}

.gratitude-page .content aside {
    @apply h-full;
    @apply border-border/50 border-r;
}

.gratitude-page .content .main {
    @apply h-[60dvh] w-full rounded-md border;
}

/* Links */
.gratitude-page aside ul {
    @apply flex gap-2 p-4;
    @apply md:flex-col lg:gap-5;
    @apply max-sm:overflow-x-scroll;

    /* Scrollbar */
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
        @apply rounded-full bg-gray-400;
    }

    &::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-500;
    }
}

.gratitude-page .link {
    @apply font-montserrat text-fluid-0.9 text-secondary;
    @apply inline-block min-w-[1fr] shrink-0 rounded px-2 select-none;
    @apply hover:bg-secondary/5 hover:cursor-pointer;
    @apply transition-all duration-500 ease-in-out;
    @apply w-[1fr] text-center md:text-left;
}

.gratitude-page .link.active {
    @apply bg-secondary/10 font-semibold;
}
